<html>
<title>Control Panel</title>
<body>
<h3>Welcome, {{person.username}}!</h3>
<p>This is the user control panel.  You can do several things from here.  You can edit your profile, manage carts, items, places, and people in the database.  You can also get information.</p>
<p><a href="/edit_personal_user">Edit your user profile.</a></p>
<p><a href="#">Edit other users. (broken)</a></p>
<p><a href="#">Add items to a cart. (broken)</a> </p>
<p><a href="#">Create a new a cart. (broken)</a> </p>
<p><a href="#">Edit items. (broken)</a> </p>
<p><a href="#">Create a new item. (broken)</a> </p>
<p><a href="#">Edit places. (broken)</a> </p>
<p><a href="#">Create a new place. (broken)</a> </p>
<p><a href="#">Edit users. (broken)</a> </p>
<p><a href="#">Create new users. (broken)</a> </p>
<p><a href="#">Get info.</a></p>
<p><a href="/logout">Log out.</a></p>



</body>
</html>