<html>
<title>Control Panel</title>
<body>
<h3>Welcome, {{person.username}}!</h3>
<p>This is the user control panel.  You can do several things from here.  You can edit your profile, manage carts, items, places, and people in the database.  You can also get information.</p>
<p><a href="/edit_personal_user">Edit your user profile. (ugly) </a></p>
<p><a href="#">Cart Management(broken)</a> </p>
<p><a href="/edit_item">Manage Warehouse</a> </p> <!-- combine these two bits of code -->
<p><a href="/edit_customer">Manage Customers</a> </p>
<p><a href="/edit_place">Place Management</a></p>
<p><a href="/logout">Log out.</a></p>
</body>
</html>