<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<style>
    .customer_edit_box {
        background-color: aquamarine; /* this can be changed - just fucking around for now */
        border-style: solid;
        border-color: black;
        border-width: 3px;
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
    }
    .new_customer_edit_box {
        background-color: bisque;
        border-style: solid;
        border-color: black;
        border-width: 3px;
        padding: 5px;
        border-radius: 10px;
        margin: 4px;
    }


</style>
<body>
<h3>Welcome, {{user.username}}.</h3>
<p>You can edit customer data below - be advised, they do not save unless you click save.</p>
<label for="search_bar">Search:</label>
<input class="form-control" id="search_bar" onkeyup="search();">

<div id="customer_edit_div">
    {% for person in people %}
    <div class="customer_edit_box user__{{person.username}} first_name__{{person.first_name}} last_name__{{person.last_name}}" id="{{person.username}}">
        <div class="form-group">
            <!--Each person input box gets a form to submit that ties to an individual in the db -->
            <h3>User ID: {{person.username}} First Name: {{person.first_name}} Last Name:  {{person.last_name}}</h3>
            <form action="/edit_customer" method="post">
                <input type="hidden" name="name" value="{{person.username}}">
                <label for="first_name">First name</label>
                <input class="form-control"id="first_name" value="{{person.first_name}}" name="first_name">

                <label for="last_name">Last name:</label>
                <input class="form-control"id="last_name" value="{{person.last_name}}" name="last_name">

                <label for="phone">Phone Number</label>
                <input class="form-control"id="phone" value="{{person.phone}}" name="phone">

                <label for="email">Email</label>
                <input class="form-control" id="email" value="{{person.email}}" name="email">

                <label for="address">Address</label>
                <textarea class="form-control" rows=4 cols="50" id="address" name="address">{{person.address}}</textarea><br>

                <label for="notes">Notes</label>
                <textarea class="form-control" rows=4 cols=50 id="notes" name="notes">{{person.notes}}</textarea>
                <input  class="brn btn-primary" value="Edit User" type="submit">
            </form>
        </div>
    </div>
    {% endfor %}
</div>

<div class="new_customer_edit_box">
    <form action="/new_customer" method="post">
        <div class="form-group">
            <h1>New Customer:</h1>

            <label for="first_name_new">First Name</label>
            <input class="form-control"  type="text" name="first_name_new" id="first_name_new">

            <label for="last_name_new">Last Name</label>
            <input class="form-control"  type="text" id="last_name_new" name="last_name">
            <br>

            <label for="phone_new">Phone</label>
            <input class="form-control"  type="text" id="phone_new"name="phone">

            <label for="email_new">Email</label><br>
            <input class="form-control"  type="text" id="email_new" name="email">
            <br>

            <label for="notes_new">Notes</label><br>
            <textarea class="form-control" cols=50 rows=4 id="notes_new" name="notes">Enter notes here.</textarea>
            <br>

            <label for="address_new">Address</label><br>
            <textarea class="form-control" cols=50 rows=4 id="address_new" name="address" >Please enter your address.</textarea>
            <br><br>

            <input id="submit_button" class="btn btn-primary" value="Create New User" type="submit">
        </div>
    </form>
</div>


<br>
<a href="/control_panel">Back to Control Panel</a>
</body>
<script>
    //sort through scroll to the first div that matches
    function search(){
        //this fires whenever the search bar or the sort by dropdown changes
        // first let's get the search bar and the select menu so we can tinker with their values
        var search_bar = document.getElementById("search_bar");

        var filter = search_bar.value.toUpperCase();
        console.log(filter)//
        var customer_edit_boxes = document.getElementsByClassName("customer_edit_box");
        var i; //for iterating - i get it.... sorry
        var div;

        //adapted from code at w3 schools
        //this iterates through the customer edit boxes, makes a div to mess with
        //then finds the index of the filter in the class name
        for (i = 0; i < customer_edit_boxes.length; i++) {
            div = customer_edit_boxes[i]; // get one of the divs with customer edit info
            var txtValue = div.className;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                div.style.display = "";
            } else {
                div.style.display = "none";
            }
        }

    }
</script>
</html>