<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<form action="/" method="post">
    <div class="form-group container">
        <h3>{{message}}</h3>
        <label for="username_id">Username</label>
        <input type="text" class="form-control" name="username" id="username_id">

        <label for="password_id">Password</label>
        <input type="password" class="form-control" name="password" id="password_id">
        <br>
        <div>
            <a href="/new_user" class="btn btn-primary">New User</a>
            <input type="submit" class="btn btn-primary" value="Login">
        </div>

    </div>

</form>

</body>
</html>