<html>
<head>
    <title>Register</title>
</head>
<body>
<form action="/new_customer" method="post">
    <p>{{message}}</p>
    <p>First name: <input type="text" name="first_name"></p>
    <p>Last name: <input type="text" name="last_name"></p>
    <p>Phone:  <input type="text" name="phone"></p>
    <p>Email:  <input type="text" name="email"></p>
    <p>Notes: <textarea cols=50, rows=4 name="notes">Enter notes here.</textarea></p>
    <p>Address: <textarea cols=50, rows=4 name="address" >Please enter your address.</textarea></p>
    <input id="submit_button" type="submit">
</form>
</body>
</html>