<html>
<head>
<title>
    New Item
</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    .new_item_edit_box {
        background-color: burlywood; /* this can be changed - just fucking around for now */
        border-style: solid;
        border-color: black;
        border-width: 3px;
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
    }
</style>
<body>
    <h3>Create a new item!</h3>
<div class="new_item_edit_box">
    <h3>Make new item:</h3>
    <form action="/new_item" method="POST">
        <p>Description:  <textarea name="description">Type a short description</textarea>  Database Short Name:  <input name="name" value="Type something here!"></p>
        <h3>Checked in by:</h3>
        <div class="dropdown_box">
        <select id="checked_in_by" name="checked_in_by">
        {% for person in people %}
        <option value="{{person.username}}" {% if person.username ==  user.username %} selected {% endif %} >{{person.first_name}} {{person.last_name}}</option>
        {% endfor %}}
        </select>

        <h3>Customer:</h3>
        <select id="customer" name="customer">
            {% for customer in people %}
            <option value="{{customer.username}}">{{customer.first_name}} {{customer.last_name}}</option>
            {% endfor %}}
        </select>
        </div>
        <div align="left">
            <p>Weight: <input id="weight" type="number" name="weight" value=1> lbs</p>
            <p>Price $<input id="price" type="number" name="price" value=10></p>
        </div>
        <p> From:
        <select id="origin" name="origin">
        {% for place in places %}
        <option value="{{place.airport_code}}">{{place.name}} {{place.airport_code}}</option>
            {% endfor %}} </select> ->
        <select id="destination" name="destination">
        {% for place in places %}
        <option value="{{place.airport_code}}">{{place.name}} {{place.airport_code}}</option>
            {% endfor %}} </select>

        </p>

        <input type="submit">

    </form>
</body>
</html>