<html>
<head>
    <title>New Customer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<form action="/new_customer" method="post">
    <div class="form-group">
        <p>{{message}}</p>

        <label for="firstname">First Name</label>
        <input class="form-control"  type="text" name="first_name" id="firstname">

        <label for="last_name">Last Name</label>
        <input class="form-control"  type="text" id=last_name name="last_name">
        <br>

        <label for="phone">Phone</label>
        <input class="form-control"  type="text" id="phone"name="phone">

        <label for="email">Email</label><br>
        <input class="form-control"  type="text" id="email" name="email">
        <br>

        <label for="notes">Notes</label><br>
        <textarea class="form-control" cols=50, rows=4 id="notes" name="notes">Enter notes here.</textarea>
        <br>

        <label for="address">Address</label><br>
        <textarea class="form-control" cols=50, rows=4 id="address" name="address" >Please enter your address.</textarea>
        <br><br>

        <input id="submit_button" class="btn btn-primary" value="Create New User" type="submit">
    </div>
</form>
</body>
</html>